# Build folders
MCMCAN_1_KIT_TC375_LK/.ads/
MCMCAN_1_KIT_TC375_LK/.settings/
MCMCAN_1_KIT_TC375_LK/Configurations/
MCMCAN_1_KIT_TC375_LK/Images/
MCMCAN_1_KIT_TC375_LK/Libraries/
MCMCAN_1_KIT_TC375_LK/Debug/
MCMCAN_1_KIT_TC375_LK/Release/
MCMCAN_1_KIT_TC375_LK/build/
MCMCAN_1_KIT_TC375_LK/TriCore Debug (TASKING)/
MCMCAN_1_KIT_TC375_LK/TriCore Release (TASKING)/

# Build files
*.o
*.a
*.elf
*.hex
*.bin
*.map

# OS
.DS_Store
Thumbs.db
*.swp
*~

# Python
__pycache__/
*.pyc
.venv/
venv/

# VS Code
.vscode/

# Git message
.gitmessage.txt

.lsl
.launch
.cproject
.project
.metadata/
